.topbarIconBadge {
  position: absolute;
  top: -5px;
  right: -5px;
  background-color: red;
  color: white;
  border-radius: 50%;
  font-size: 12px;
  width: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.topbarContainer {
  z-index: 9999;
}
